<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/nprogress.css" />
</head>

<body>


    <div id="app">
        <main-login v-if="!login" ref="login"></main-login>
        <main-frame v-if="login" ref="main"></main-frame>
    </div>

   
    <script src="js/vue.min.js"></script>
    <script src="js/ele.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/api.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/nprogress.js"></script>
    <script src="/js/debounce.js"></script>
    <script src="/js/monacoloader.js"></script>
    <script src="/js/components.js"></script>
    
    <script>
        
    </script>
</body>

</html>