<el-form :model="form" ref="submit" :rules="rules">
    <form-input label="注释" v-model="form.comment" />
     <el-table
     size="small"
    :data="form.columns"
    style="width: 100%">
    <el-table-column
      label="名称"
      width="180">
      <template slot-scope="scope">
        <el-popover trigger="hover" placement="top">
          <p>名称: {{ scope.row.column }}</p>
          <p>适配名称: {{ scope.row.name }}</p>
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.column }}</el-tag>
          </div>
        </el-popover>
      </template>
    </el-table-column>
    <el-table-column label="说明">
            <template slot-scope="scope">
                <el-input size="small" v-model="scope.row.comment"></el-input>
            </template>
    </el-table-column>
    <el-table-column label="组件">
      <template slot-scope="scope">
        <api-select
          @selecteded="(event)=>{scope.row.prop=event.prop}"   
          :search="{_select:'id,comment,prop'}" 
          api="sys_type/index" 
          v-model="scope.row.type" 
          size="small" 
          labelField="id">
        </api-select>
      </template>
    </el-table-column>
    <el-table-column label="属性">
      <template slot-scope="scope">
        <el-input size="small" v-model="scope.row.prop"></el-input>
      </template>
    </el-table-column>
  </el-table>
</el-form>