

<el-form :model="form" ref="submit" :rules="rules">
  <el-tabs value="first">
    <el-tab-pane label="表设置" name="first">
      <form-input label="注释" v-model="form.comment" />
      <el-form-item label="关联表" label-width="120px">
        <dynamic-table />
      </el-form-item>
    </el-tab-pane>
    <el-tab-pane label="字段设置" name="second">
      <el-table
      size="small"
      :data="form.columns"
      style="width: 100%">
     <el-table-column
       label="名称"
       width="180">
       <template slot-scope="scope">
         <el-popover trigger="hover" placement="top">
           <p>名称: {{ scope.row.column }}</p>
           <p>适配名称: {{ scope.row.name }}</p>
           <div slot="reference" class="name-wrapper">
             <el-tag size="medium">{{ scope.row.column }}</el-tag>
           </div>
         </el-popover>
       </template>
     </el-table-column>
     <el-table-column label="说明">
        <template slot-scope="scope">
            <el-input size="small" v-model="scope.row.comment"></el-input>
        </template>
     </el-table-column>
     <el-table-column label="组件">
       <template slot-scope="scope">
         <api-select
           @selecteded="(event)=>{scope.row.prop=event.prop}"   
           :search="{_select:'id,comment,prop'}" 
           api="sys_type/list" 
           v-model="scope.row.type" 
           size="small" 
           labelField="id">
         </api-select>
       </template>
     </el-table-column>
     <el-table-column label="属性">
       <template slot-scope="scope">
         <el-input size="small" v-model="scope.row.prop"></el-input>
       </template>
     </el-table-column>
   </el-table>

    </el-tab-pane>
    <el-tab-pane label="字段选择" name="third">角色管理</el-tab-pane>
  </el-tabs>
</el-form>