

<div>
    <div class="table-title">
        <div class="action-button-pannel">
            <edit-button 
                :fullscreen="true" 
                v-if="current != null" 
                :api="'deco_table/put/'+current.name" 
                templateUrl="deco_table/edit"
                :dataUrl="'deco_table/get/'+current.name" 
                title="装饰"
                label="装饰" />
        </div>
        <el-input placeholder="名称" v-model="search.name" style="width:100px;margin-right:3px" size="mini" />
        <el-button @click="refresh" type="primary" size="mini" icon="el-icon-edit">筛选</el-button>
    </div>
    <simple-list
        :list="list" 
        :search="search"
        :loading="loading" 
        @change="handleSelect" 
        :columns="[['name','名称'],['comment','说明'],['decoration','是否装饰']]">
    </simple-list>
</div>